# https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java,kt,kts,xml}]
indent_size = 4
ij_continuation_indent_size = 2

[*.{kt,kts}]
kotlin_imports_layout=ascii
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_field_annotation_wrap = normal

[*.md]
trim_trailing_whitespace = false
