language: android
dist: trusty

jdk:
  - openjdk8

android:
  components:
    - tools
    - build-tools-28.0.3
    - extra-android-m2repository
  licenses:
    - ".+"

before_install:
  - yes | sdkmanager "platforms;android-29"

script:
  - "./gradlew build test lintDebug -Dpre-dex=false"

notifications:
  email: false

sudo: false

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
