<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zeapo.pwdstore"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".PasswordStore"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />

        <activity android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".git.GitActivity" />

        <activity
            android:name=".UserPreference"
            android:parentActivityName=".PasswordStore" />
        <service
            android:name=".autofill.AutofillService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/autofill_config" />
        </service>

        <activity
            android:name=".autofill.AutofillActivity"
            android:documentLaunchMode="intoExisting"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme"
            tools:ignore="UnusedAttribute" />

        <activity android:name=".autofill.AutofillPreferenceActivity" />

        <activity
            android:name=".crypto.PgpActivity"
            android:parentActivityName=".PasswordStore"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SelectFolderActivity" />
        <activity android:name=".sshkeygen.SshKeyGenActivity" android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
