<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright © 2014-2020 The Android Password Store Authors. All Rights Reserved.
  ~ SPDX-License-Identifier: GPL-3.0-only
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zeapo.pwdstore"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".PasswordStore"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.onboarding.activity.OnboardingActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".ui.proxy.ProxySelectorActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".LaunchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:node="replace" />

        <activity
            android:name=".git.GitServerConfigActivity"
            android:label="@string/title_activity_git_clone"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".git.GitConfigActivity"
            android:label="@string/title_activity_git_config"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".git.log.GitLogActivity"
            android:label="@string/title_activity_git_log" />

        <activity
            android:name=".UserPreference"
            android:label="@string/action_settings"
            android:parentActivityName=".PasswordStore" />

        <activity
            android:name=".crypto.PasswordCreationActivity"
            android:label="@string/new_password_title"
            android:parentActivityName=".PasswordStore"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".crypto.DecryptActivity"
            android:parentActivityName=".PasswordStore"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".crypto.GetKeyIdsActivity"
            android:parentActivityName=".PasswordStore"
            android:theme="@style/NoBackgroundTheme" />

        <service
            android:name=".autofill.AutofillService"
            android:enabled="@bool/enable_accessibility_autofill"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/autofill_config" />
        </service>
        <service
            android:name=".ClipboardService"
            android:process=":clipboard_service_process" />
        <service
            android:name=".PasswordExportService"
            android:process=":password_export_service_process" />
        <service
            android:name=".autofill.oreo.OreoAutofillService"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/oreo_autofill_service" />
        </service>

        <activity
            android:name=".autofill.AutofillActivity"
            android:documentLaunchMode="intoExisting"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme"
            tools:ignore="UnusedAttribute" />

        <activity android:name=".autofill.AutofillPreferenceActivity" />

        <activity android:name=".SelectFolderActivity" />
        <activity
            android:name=".sshkeygen.SshKeyGenActivity"
            android:label="@string/pref_ssh_keygen_title"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".autofill.oreo.ui.AutofillDecryptActivity"
            android:theme="@style/NoBackgroundTheme" />
        <activity
            android:name=".autofill.oreo.ui.AutofillFilterView"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/DialogLikeTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".autofill.oreo.ui.AutofillSaveActivity"
            android:theme="@style/NoBackgroundTheme" />
        <activity
            android:name=".autofill.oreo.ui.AutofillSmsActivity"
            android:configChanges="orientation"
            android:theme="@style/DialogLikeTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".autofill.oreo.ui.AutofillPublisherChangedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/DialogLikeTheme"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>
