on:
  push:
    branches-ignore:
      - develop
    paths:
      - '.github/**'
      - 'app/**'
      - 'gradle/**'
      - '*.properties'
      - '*.gradle'
      - 'gradlew'
      - 'gradlew.bat'

name: Build debug
jobs:
  generate-debug-build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
    - name: Checkout repository
      uses: actions/checkout@v1

    - name: Decrypt secrets
      run: release/signing-setup.sh "$ENCRYPT_KEY"
      env:
        ENCRYPT_KEY: ${{ secrets.ENCRYPT_KEY }}

    - name: Copy CI gradle.properties
      run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

    - name: Generate cache key
      run: ./.github/checksum.sh checksum.txt

    - name: Cache gradle modules
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches/modules-2
        key: ${{ runner.os }}-gradlemodules-${{ hashFiles('checksum.txt') }}
        restore-keys: |
          ${{ runner.os }}-gradlemodules-

    - name: Cache gradle jars
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches/jars-3
        key: ${{ runner.os }}-gradlejars-${{ hashFiles('checksum.txt') }}
        restore-keys: |
          ${{ runner.os }}-gradlejars-

    - name: Cache gradle build
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches/build-cache-1
        key: ${{ runner.os }}-gradlebuildcache-${{ hashFiles('checksum.txt') }}
        restore-keys: |
          ${{ runner.os }}-gradlebuildcache-

    - name: Download gradle dependencies
      run: ./gradlew dependencies

    - name: Build debug app
      run: ./gradlew :app:assembleDebug

    - name: Clean secrets
      run: release/signing-cleanup.sh

    - name: Send APK to Telegram
      run: release/deploy-telegram.sh
      env:
        TG_TO: ${{ secrets.TELEGRAM_TO }}
        TG_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        TG_FILE: ./app/build/outputs/apk/debug/app-debug.apk
