name: "Draft new release"

on:
  milestone:
    types: [closed]

jobs:
  draft-new-release:
    name: "Draft a new release"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c952173edf28a2bd22e1a4926590c1ac39630461
        with:
          ref: 'release'
      - name: Extract version from milestone
        run: |
          VERSION="${{ github.event.milestone.title }}"
          echo "RELEASE_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Create release branch
        run: git checkout -b release-${{ env.RELEASE_VERSION }}

      - name: Update changelog
        uses: thomaseizinger/keep-a-changelog-new-release@1.1.0
        with:
          version: v${{ env.RELEASE_VERSION }}

      - name: Initialize git config and commit changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com
          git commit -am "Prepare release $RELEASE_VERSION"

      - name: Create Pull Request
        uses: repo-sync/pull-request@24ed95dd0d9ada9dfec0d555129c3db5a9e93e2a
        with:
          source_branch: release-${{ env.RELEASE_VERSION }}
          destination_branch: release
          pr_title: Release ${{ env.RELEASE_VERSION }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
