on: pull_request

name: Check pull request
jobs:
  test-pr:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@master

    - uses: actions/cache@v1
      with:
          path: ~/.gradle/caches
          key: gradle-${{ runner.os }}-${{ hashFiles('**/build.gradle') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/dependencies.gradle') }}

    - run: ./gradlew spotlessCheck assembleDebug testDebug lintDebug -Dpre-dex=false

    - uses: actions/upload-artifact@master
      with:
        name: Debug APK
        path: app/build/outputs/apk/debug/app-debug.apk
