on: [pull_request]

name: Check pull request
jobs:
  test-pr:
    runs-on: macos-latest
    strategy:
      matrix:
        api-level: [23, 29]
    steps:

    - name: Auto-cancel redundant workflow run
      uses: technote-space/auto-cancel-redundant-workflow@f9dfa1c127a520e4d71b92892850f861fb861206

    - name: Check if relevant files have changed
      uses: actions/github-script@626af12fe9a53dc2972b48385e7fe7dec79145c9
      id: service-changed
      with:
        result-encoding: string
        script: |
          const result = await github.pulls.listFiles({
            owner: context.payload.repository.owner.login,
            repo: context.payload.repository.name,
            pull_number: context.payload.number,
            per_page: 100
          })
          const shouldRun = result.data.filter(f => !f.filename.endsWith(".md") || !f.filename.endsWith(".txt") || !f.filename.startsWith("contrib/") || !f.filename.endsWith(".yml")).length > 0
          console.log(shouldRun)
          return shouldRun

    - name: Checkout repository
      if: ${{ steps.service-changed.outputs.result == 'true' }}
      uses: actions/checkout@c952173edf28a2bd22e1a4926590c1ac39630461

    - name: Copy CI gradle.properties
      if: ${{ steps.service-changed.outputs.result == 'true' }}
      run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

    - name: Run unit tests
      if: ${{ steps.service-changed.outputs.result == 'true' }}
      uses: burrunan/gradle-cache-action@03c71a8ba93d670980695505f48f49daf43704a6
      with:
        arguments: apiCheck testFreeDebug lintFreeDebug

    - name: Run instrumentation tests
      if: ${{ steps.service-changed.outputs.result == 'true' }}
      uses: reactivecircus/android-emulator-runner@07b0366e7b93d87f3d00b3e78d9033f04009b347
      with:
        api-level: ${{ matrix.api-level }}
        target: default
        script: |
          adb shell settings put global animator_duration_scale 0
          adb shell settings put global transition_animation_scale 0
          adb shell settings put global window_animation_scale 0
          ./gradlew :app:connectedFreeDebugAndroidTest

    - name: (Fail-only) upload test report
      if: failure()
      uses: actions/upload-artifact@27bce4eee761b5bc643f46a8dfb41b430c8d05f6
      with:
          name: Test report
          path: app/build/reports
