on: [pull_request]

name: Check pull request

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      with:
        fetch-depth: 0

    - name: Check if relevant files have changed
      uses: actions/github-script@a3e7071a34d7e1f219a8a4de9a5e0a34d1ee1293
      id: service-changed
      with:
        result-encoding: string
        script: |
          const script = require('.github/check-changed-files.js')
          return await script({github, context})

    - uses: actions/setup-java@d202f5dbf7256730fb690ec59f6381650114feb2
      if: ${{ steps.service-changed.outputs.result == 'true' }}
      with:
        java-version: '11'

    - name: Copy CI gradle.properties
      if: ${{ steps.service-changed.outputs.result == 'true' }}
      run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

    - name: Build debug APKs
      if: ${{ steps.service-changed.outputs.result == 'true' }}
      uses: burrunan/gradle-cache-action@03c71a8ba93d670980695505f48f49daf43704a6
      with:
        arguments: assembleFreeDebug assembleNonFreeDebug

    - name: Run unit tests
      if: ${{ steps.service-changed.outputs.result == 'true' }}
      uses: burrunan/gradle-cache-action@03c71a8ba93d670980695505f48f49daf43704a6
      with:
        arguments: apiCheck test lintFreeDebug spotlessCheck -PslimTests

    - name: (Fail-only) upload test report
      if: failure()
      uses: actions/upload-artifact@27121b0bdffd731efa15d66772be8dc71245d074
      with:
          name: Test report
          path: app/build/reports
