on: pull_request

name: Check pull request
jobs:
  test-pr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        api-level: [23, 25, 27, 29]
    steps:

    - uses: actions/checkout@master

    - name: Copy CI gradle.properties
      run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

    - uses: actions/cache@v1
      with:
          path: ~/.gradle/caches
          key: gradle-${{ runner.os }}-${{ hashFiles('**/build.gradle') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/dependencies.gradle') }}

    - name: Run unit tests
      run: ./gradlew spotlessCheck testDebug lintDebug -Dpre-dex=false

    - name: Run instrumentation tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: ${{ matrix.api-level }}
        target: default
        script: ./gradlew connectedCheck
