on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 1'

env:
  SENTRY_DSN: 'https://public_key@example.com/project_id'

name: Shadow job
jobs:
  provide-agp-version-matrix:
    runs-on: ubuntu-latest
    outputs:
      agp-versions: ${{ steps.build-agp-matrix.outputs.agp-versions }}
    steps:
      - id: agp-version-finder
        uses: usefulness/agp-version-finder-action@2e27d3b2fdcddf9894df4d6edffdd90e232312fa # v1
      - id: build-agp-matrix
        run: echo 'agp-versions=["${{ steps.agp-version-finder.outputs.latest-beta }}","${{ steps.agp-version-finder.outputs.latest-alpha }}"]' >> $GITHUB_OUTPUT

  shadow-job:
    needs: [provide-agp-version-matrix]
    strategy:
      fail-fast: false
      matrix:
        agp-version: ${{ fromJSON(needs.provide-agp-version-matrix.outputs.agp-versions) }}
        gradle-version:
          - wrapper
          - release-nightly
          - nightly
        java-version:
          - 20
    runs-on: ubuntu-latest
    name: Run Gradle-${{ matrix.gradle-version }}, AGP-${{ matrix.agp-version }}, Java-${{ matrix.java-version }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        fetch-depth: 0

    - name: Set up JDK
      uses: actions/setup-java@9704b39bf258b59bc04b50fa2dd55e9ed76b47a8 # v4.1.0
      with:
        distribution: temurin
        java-version: ${{ matrix.java-version }}

    - name: Copy CI gradle.properties
      run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

    - name: Run checks
      uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3
      env:
        DEP_OVERRIDE: true
        DEP_OVERRIDE_agp: ${{ matrix.agp-version }}
      with:
        arguments: check
        gradle-version: ${{ matrix.gradle-version }}
        gradle-home-cache-cleanup: true
        cache-read-only: true

  results:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Final Results
    needs: [shadow-job]
    steps:
    - name: Report failure to healthchecks.io
      # see https://stackoverflow.com/a/67532120/4907315
      if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
      run: curl --retry 3 "https://hc-ping.com/${HC_PING_SLUG}/fail"
      env:
        HC_PING_SLUG: ${{ secrets.HC_PING_SLUG }}

    - name: Report success to healthchecks.io
      if: ${{ contains(needs.*.result, 'success') }}
      env:
        HC_PING_SLUG: ${{ secrets.HC_PING_SLUG }}
      run: curl --retry 3 "https://hc-ping.com/${HC_PING_SLUG}"
