on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 1'

env:
  SENTRY_DSN: 'https://public_key@example.com/project_id'

name: Shadow job
jobs:
  shadow-job:
    strategy:
      fail-fast: false
      matrix:
        agp-version:
          - 7.4.2
          - 8.0.0-beta03
          - 8.1.0-alpha07
        gradle-version:
          - current
          - wrapper
          - release-nightly
          - nightly
        java-version:
          - 18
        # Gradle 8.x is currently incompatible with AGP 8.x
        exclude:
          - agp-version: 8.0.0-beta03
          - agp-version: 8.1.0-alpha07
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      with:
        fetch-depth: 0

    - name: Set up JDK
      uses: actions/setup-java@3f07048e3d294f56e9b90ac5ea2c6f74e9ad0f98 # v3.10.0
      with:
        distribution: temurin
        java-version: ${{ matrix.java-version }}

    - name: Copy CI gradle.properties
      run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

    - name: Workaround AGP 8.x deprecations
      if: startsWith(matrix.agp-version, '8.')
      run: sed -i 's/android.disableAutomaticComponentCreation=true//' gradle.properties

    - name: Run checks
      uses: gradle/gradle-build-action@6095a76664413da4c8c134ee32e8a8ae900f0f1f # v2.4.0
      env:
        DEP_OVERRIDE: true
        DEP_OVERRIDE_agp: ${{ matrix.agp-version }}
      with:
        arguments: check
        gradle-home-cache-cleanup: true

    - name: Report failure to healthchecks.io
      if: ${{ failure() }}
      env:
        HC_PING_SLUG: ${{ secrets.HC_PING_SLUG }}
        AGP_VERSION: ${{ matrix.agp-version }}
      run: |
        curl --retry 3 --data-raw "AGP: ${AGP_VERSION}" "https://hc-ping.com/${HC_PING_SLUG}/fail"

    - name: Report success to healthchecks.io
      if: ${{ success() }}
      env:
        HC_PING_SLUG: ${{ secrets.HC_PING_SLUG }}
        AGP_VERSION: ${{ matrix.agp-version }}
      run: |
        curl --retry 3 --data-raw "AGP: ${AGP_VERSION}" "https://hc-ping.com/${HC_PING_SLUG}"
