name: Sync localisations from Crowdin
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  sync-crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Set up JDK
        uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # v3.12.0
        with:
          distribution: temurin
          java-version: 20

      - name: Download new translations from Crowdin
        uses: gradle/gradle-build-action@243af859f8ca30903d9d7f7936897ca0358ba691 # v2.7.1
        with:
          arguments: --no-configuration-cache crowdin
          gradle-home-cache-cleanup: true
        env:
          CROWDIN_LOGIN: ${{ secrets.CROWDIN_LOGIN }}
          CROWDIN_PROJECT_KEY: ${{ secrets.CROWDIN_PROJECT_KEY }}

      - name: Check if PR is required
        run: if [[ $(git status -s) != '' ]]; then echo "UPDATED=true" >> $GITHUB_ENV; fi

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@153407881ec5c347639a548ade7d8ad1d6740e38 # v5.0.2
        if: "env.UPDATED == 'true'"
        with:
          author: GitHub Actions <noreply@github.com>
          base: develop
          body: This is an automated pull request to sync localisations from Crowdin.
          branch: bot/crowdin-sync
          commit-message: "strings: sync with crowdin"
          labels: A-localisation, S-automerge
          title: Sync localisations from Crowdin
          token: ${{ secrets.PSL_UPDATE_TOKEN }}

      - name: Enable automerge for PR
        if: "${{ steps.cpr.outputs.pull-request-operation == 'created' }}"
        shell: bash
        run: |
          gh pr merge --squash --auto "${PR_URL}"
        env:
          GITHUB_TOKEN: ${{ secrets.PSL_UPDATE_TOKEN }}
          PR_URL: ${{ steps.cpr.outputs.pull-request-url }}
