name: Sync localisations from Crowdin
on:
  schedule:
    - cron: '0 0 * * 6'

jobs:
  sync-crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f

      - uses: actions/setup-java@d202f5dbf7256730fb690ec59f6381650114feb2
        with:
          java-version: '11'

      - name: Download new translations from Crowdin
        run: ./gradlew crowdin

      - name: Compare list changes
        run: if [[ $(git diff --stat) != '' ]]; then echo "UPDATED=true" >> $GITHUB_ENV; fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@01f7dd1d28f5131231ba3ede0f1c8cb413584a1d
        if: env.UPDATED == 'true'
        with:
          assignees: msfjarvis
          author: GitHub Actions <noreply@github.com>
          base: develop
          body: This is an automated pull request to sync localisations from Crowdin.
          branch: bot/crowdin-sync
          commit-message: "strings: sync with crowdin"
          labels: A-localisation, P-low, S-waiting-on-review
          title: Sync localisations from Crowdin
          token: ${{ secrets.GITHUB_TOKEN }}
