name: Sync localisations from Crowdin
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  sync-crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      - name: Set up JDK
        uses: actions/setup-java@3f07048e3d294f56e9b90ac5ea2c6f74e9ad0f98 # v3.10.0
        with:
          distribution: temurin
          java-version: 18

      - name: Download new translations from Crowdin
        uses: gradle/gradle-build-action@6095a76664413da4c8c134ee32e8a8ae900f0f1f # v2.4.0
        with:
          arguments: --no-configuration-cache crowdin
          gradle-home-cache-cleanup: true
        env:
          CROWDIN_LOGIN: ${{ secrets.CROWDIN_LOGIN }}
          CROWDIN_PROJECT_KEY: ${{ secrets.CROWDIN_PROJECT_KEY }}
          CROWDIN_PROJECT_IDENTIFIER: ${{ secrets.CROWDIN_PROJECT_IDENTIFIER }}

      - name: Check if PR is required
        run: if [[ $(git status -s) != '' ]]; then echo "UPDATED=true" >> $GITHUB_ENV; fi

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@2b011faafdcbc9ceb11414d64d0573f37c774b04 # v4.2.3
        if: "env.UPDATED == 'true'"
        with:
          author: GitHub Actions <noreply@github.com>
          base: develop
          body: This is an automated pull request to sync localisations from Crowdin.
          branch: bot/crowdin-sync
          commit-message: "strings: sync with crowdin"
          labels: A-localisation, S-automerge
          title: Sync localisations from Crowdin
          token: ${{ secrets.PSL_UPDATE_TOKEN }}

      - name: Enable automerge for PR
        if: "${{ steps.cpr.outputs.pull-request-operation == 'created' }}"
        shell: bash
        run: |
          gh pr merge --squash --auto "${PR_URL}"
        env:
          GITHUB_TOKEN: ${{ secrets.PSL_UPDATE_TOKEN }}
          PR_URL: ${{ steps.cpr.outputs.pull-request-url }}
