name: Sync localisations from Crowdin
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  sync-crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Set up JDK
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
        with:
          distribution: temurin
          java-version: 20

      - name: Download new translations from Crowdin
        uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3
        with:
          arguments: --no-configuration-cache crowdin
          gradle-home-cache-cleanup: true
        env:
          CROWDIN_LOGIN: ${{ secrets.CROWDIN_LOGIN }}
          CROWDIN_PROJECT_KEY: ${{ secrets.CROWDIN_PROJECT_KEY }}

      - name: Check if PR is required
        run: if [[ $(git status -s) != '' ]]; then echo "UPDATED=true" >> $GITHUB_ENV; fi

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@b1ddad2c994a25fbc81a28b3ec0e368bb2021c50 # v6.0.0
        if: "env.UPDATED == 'true'"
        with:
          author: GitHub Actions <noreply@github.com>
          base: develop
          body: This is an automated pull request to sync localisations from Crowdin.
          branch: bot/crowdin-sync
          commit-message: "strings: sync with crowdin"
          labels: A-localisation, S-automerge
          title: Sync localisations from Crowdin
          token: ${{ secrets.PSL_UPDATE_TOKEN }}

      - name: Enable automerge for PR
        if: "${{ steps.cpr.outputs.pull-request-operation == 'created' }}"
        shell: bash
        run: |
          gh pr merge --squash --auto "${PR_URL}"
        env:
          GITHUB_TOKEN: ${{ secrets.PSL_UPDATE_TOKEN }}
          PR_URL: ${{ steps.cpr.outputs.pull-request-url }}
