name: Validate Gradle Wrapper
on:
  push:
    branches:
      - develop
  pull_request:
    paths:
      - ".github/workflows/validate_gradle_wrapper.yml"
      - "gradle/**"
      - "gradlew"
      - "gradlew.bat"

jobs:
  validation:
    name: Wrapper validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6 # v1.0.5
